* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  bottom: 10px;
  right: 10px;
}